@import './main';

.author {
  @include column;
  @include content;

  padding-top: 55px;
  color: #fff;

  @media (max-width: 960px) {
    padding: 55px 25px;
  }

  h2 {
    @include title;

    margin-bottom: 35px;
  }

  p {
    @include paragraph;
  }
}
