@import './main.scss';

.market {
  background-color: $purple-with-transparency;
  color: #fff;

  @media (max-width: 960px) {
    padding: 55px 0;
  }

  .marketContent {
    @include column;
    @include content;

    padding-top: 55px;

    h2 {
      @include title;

      margin-bottom: 35px;
    }

    p {
      @include paragraph;

      &:last-child {
        color: $gray;
      }
    }
  }
}
