@import './main';

.thankYou {
  @include column;
  @include content;

  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  div {
    display: block;

    .emojis {
      width: 100%;
      text-align: center;
      display: block;
      font-size: 2.4em;
      line-height: 2em;
    }

    h1 {
      @include title;

      text-align: center;
    }

    p {
      @include paragraph;

      width: 420px;
      text-align: center;
      margin-top: 34px;
      line-height: 2.5em;

      @media (max-width: 420px) {
        width: 100%;
      }
    }
  }
}
